# The web service and the refresh jobs. This is what Render installs.
#
# The legacy Reds/Bengals dashboards are not here: they are disabled in
# production (REGISTER_LEGACY_DASHBOARDS=0) and their half of the tree --
# pandas, matplotlib, scipy, scikit-learn, pybaseball -- was the slowest part
# of every deploy. Run the dashboards locally with:
#
#     pip install -r requirements.txt -r requirements-dashboards.txt
beautifulsoup4==4.13.3
blinker==1.9.0
cachelib==0.14.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
defusedxml==0.7.1
dotenv==0.9.9
feedparser==6.0.12
Flask==3.1.0
Flask-Caching==2.4.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.3.1
MarkupSafe==3.0.2
packaging==26.2
pandas==2.2.3
praw==8.0.2
prawcore==4.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyarrow==25.0.0
pytz==2025.1
requests==2.34.2
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2025.2
update_checker==1.0.0
urllib3==2.3.0
websocket-client==1.9.0
Werkzeug==3.1.3
